<!doctype html>
<html>
  <head>
    {% if site.google_verify %}
    <meta name="google-site-verification" content="{{ site.google_verify }}" />
    {% endif %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    
    {% if site.google_analytics %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.google_analytics }}');
</script>

    {% endif %}

    <link rel="stylesheet" href="{{ site.url }}/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  {% seo %}
  </head>
  <body>
    
    <div class="wrapper">
      <section>
        <div id="title">
          <a href="/"><h1>{{ site.title | default: site.github.repository_name }}</h1></a>
          <p>One ring to rule them all</p>
          
          <span><a style="padding: 15px;" href="{{ site.url }}/index">Home  </a></span>
          <span><a style="padding: 15px;" href="{{ site.url }}/about">About  </a></span>
          <span><a style="padding: 15px;" href="{{ site.url }}/blog_posts">Posts  </a></span>
          <span><a style="padding: 15px;" href="{{ site.url }}/contact">Contact</a></span>
         
          <hr>
          <span class="credits left">Maintained by <a href="{{ site.github.owner_url }}">Iliya Dafchev</a></span>
          <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/michigangraham">mattgraham</a></span>
        </div>

        
        {{ content }}
        

      </section>

    </div>

  </body>
</html>
